@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 1140px;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 50px 70px;
}
.list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}