@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 1140px;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 50px 70px;
}
.list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.bold-1 {
    font-weight: 600;
}
.small {
    color: #8987A1;
}
.bold-2 {
    font-weight: 600;
}
.navbar-2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}
.banner-main {
    text-align: center;
}
.banner {
    font-weight: 600;
    font-size: 3rem;
}
.orenge {
    color: #E95A08;
}
.paragraph {
    color: #8987A1;
    font-size: 15px;
    justify-content: center;
}
.flower {
    width: 400px;
    height: auto;
}
.flower-card {
    margin: 20px 50px;
}
.card {
    text-align: center;
    justify-content: center;
}
.our-plants {
    font-size: 2.5rem;
}
.flower-card {
    margin: 20px 50px;
}